@import 'tailwindcss';
@import './assets/fonts/Outfit_Complete/Fonts/WEB/css/outfit.css';

:root {
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  line-height: 1.1;
  margin: 0;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #f28c28;
  --primary-hover: #e67b11;

}



a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-hover);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  font-size: 76px;
  font-weight: bold;
}

h2 {
  font-size: 52px;
  font-weight: 600;
}


p {
  font-size: 20px;
}